body {
    margin: 0;
}

/* Top Header Css */
.top-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #977315;
    opacity: .8;
    height: 45px;
    font-size: 18px;
}

.top-header ul {
    display: flex;
    color: whitesmoke;
    gap: 80px;
    list-style-type: none;
}

/* top-head-address {

}

top-head-phone {

} */

/* facebook-logo {

} 

insta-logo {

}  */


/* End Top Header Css */

/* Primary Header Css */

.primary-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #463737;
    opacity: .8;
    height: 170px;
    font-size: 32px;
}

.primary-header .nav-logo {
    height: 130px;
    width: auto;
}

.primary-header ul {
    display: flex;
    color: whitesmoke;
    gap: 40px;
    list-style-type: none;
}

.primary-header a {
    color: rgb(194, 43, 43);
    text-decoration: none;
    font-size: 18px;
}

/* End Primary Header Css */

.web-banner {
    height: 50vh;
    width: autovh;
}

/* Main Content Css */



/* End Main Content Css */